<div class="row">
  <div class="col border-0">
    <div class="card col p-3 m-4  text-left">
        <div class="ui statistic">
            <div class="label">
              <h3>Confirmed VS Deaths</h3>
              
            </div>
            <div class="value">
              {{conVSdeath}} <i class="percent icon small text-center red"></i>
            </div>
        </div>
    </div>
    <div class="card col p-3 m-4  text-left">
        <div class="ui statistic">
            <div class="label">
              <h3>Confirmed VS Recovered</h3>
              
            </div>
            <div class="value">
              {{conVSrecover}} <i class="percent icon small text-center green"></i>
            </div>
        </div>
    </div>
  </div>

  <div class="col border  m-4 rounded">Chart</div>
</div>
