<div class="row border-0">
    <div class="card col p-3 m-4">
        <div class="ui statistic">
            <div class="label">
              <h3>Confirmed</h3>
              <!-- <i class="user plus icon huge text-center"></i> -->
              <img src="../../../assets/confirm.gif" height="50" width="50" alt="">
            </div>
            <div class="value">
              {{totalConfirmed}}
            </div>
        </div>
    </div>
    <div class="card col p-3 m-4">
        <div class="ui statistic">
            <div class="label">
              <h3>Recovered</h3>
              <!-- <i class="ambulance icon huge text-center"></i> -->
              <img src="../../../assets/recover.gif" height="50" width="50" alt="">
            </div>
            <div class="value">
              {{totalRecovered}}
            </div>
        </div>
    </div>
    <div class="card col p-3 m-4">
        <div class="ui statistic">
            <div class="label">
              <h3>Deaths</h3>
              <!-- <i class="x icon icon huge text-center"></i> -->
              <img src="../../../assets/death.gif" height="50" width="50" alt="">
            </div>
            <div class="value">
              {{totalDeaths}}
            </div>
        </div>
    </div>
    <div class="card col p-3 m-4">
        <div class="ui statistic">
            <div class="label">
              <h3>Active</h3>
              <!-- <i class="hospital icon huge text-center"></i> -->
              <img src="../../../assets/active.png" height="50" width="50" alt="">
            </div>
            <div class="value">
              {{totalActive}}
            </div>
        </div>
    </div>
</div>
